.btn {
  padding: 10px 15px 10px 15px;
  border: 2px solid #0000;
  border-radius: 0;
  font-size: 10pt;
  text-align: left;
  transition: all 0.3s;

  &--primary {
    color: var(--c-white);
    background-color: var(--c-primary);
  }

  &--primary:hover {
    background-color: var(--c-primary-hover);
  }

  &--ghost {
    color: var(--c-primary);
    background-color: #0000;
  }

  &--ghost:hover {
    background-color: var(--c-gray-lighter);
  }

  &--danger {
    color: var(--c-white);
    background-color: var(--c-error);
  }

  &--danger:hover {
    background-color: var(--c-error-hover);
  }

  &--danger:focus {
    border: 2px solid var(--c-error);
  }

  &--secondary {
    color: var(--c-black);
    background-color: var(--c-gray-lighter);
  }

  &--secondary:hover {
    background-color: var(--c-gray-light);
  }
  &--icon {
    font-size: 14px;
  }
}

.btn:focus {
  border: 2px solid var(--c-primary);
}

.btn:hover {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    background: initial;
  }
}

.btn:disabled {
  opacity: 0.5;
}
