.input {
  width: 100%;

  input,
  textarea {
    font-size: 14px;
    padding: 7px 9px 7px 9px;
    width: 100%;
    border: 2px solid #0000;
    border-bottom: 2px solid var(--c-gray);
    background-color: var(--c-gray-lighter);
  }
  input:disabled,
  textarea:disabled {
    cursor: not-allowed;
    background-color: var(--c-gray);
  }
  input:focus,
  textarea:focus {
    border: 2px solid var(--c-primary);
  }

  &--label {
    font-size: 14px;
    color: var(--c-gray-darker);
    font-weight: normal;
  }

  &--helper {
    font-size: 14px;
    color: var(--c-gray);
    font-weight: normal;
  }

  &--invalid {
    color: var(--c-error);
    font-size: 14px;
    display: flex;
  }

  &--invalid .icon {
    font-size: 10px;
    margin: 4px 10px 0 0;
  }

  &--password {
    display: flex;
    button {
      padding: 7px 9px 7px 9px;
      border: none;
      border-bottom: 2px solid var(--c-gray);
      background-color: var(--c-gray-lighter);
      transition: all 0.3s;
      color: var(--c-gray-dark);
      min-width: 40px;
    }
    button::before {
      margin: auto;
    }
    button:hover {
      color: var(--c-primary);
    }
  }

  &--toggle {
    color: var(--c-gray);
    font-size: 34px;
    .on {
      color: var(--c-success);
    }
  }

  &--select {
    select {
      padding: 7px 30px 7px 9px;
      width: 100%;
      border: 2px solid #0000;
      border-bottom: 2px solid var(--c-gray);
      background-color: var(--c-gray-lighter);
      cursor: pointer;
    }
    select:disabled {
      border-bottom: 2px solid var(--c-gray-lighter);
      cursor: default;
      color: var(--c-gray);
    }
    select:focus {
      border: 2px solid var(--c-primary);
    }
    &-drop {
      pointer-events: none;
      width: 0px;
      position: relative;
      left: -25px;
      margin: auto 0;
      z-index: 0;
    }
  }
  &--multi-add {
    .items {
      display: flex;
      flex-direction: column;
      button {
        // background-color: var(--c-gray-lighter);
        border-bottom: 1px solid var(--c-gray);
        display: flex;
        padding: 3px 5px;
        .number {
          color: var(--c-gray);
          margin: auto 0;
        }
        .value {
          margin-left: 10px;
        }
        .icon {
          margin: auto 0 auto auto;
          color: var(--c-gray);
        }
      }
      button:hover {
        .value {
          color: var(--c-error);
        }
        .icon {
          color: var(--c-error);
        }
      }
    }
  }
  &--checkbox {
    &-in-label {
      display: flex;
    }
    &-label {
      cursor: pointer;
      margin: auto 0 auto 10px;
      &-disabled {
        color: var(--c-gray-dark);
      }
    }
    input {
      cursor: pointer;
    }
  }
  &--file {
    max-width: 600px;
    padding: 20px;
    display: flex;
    cursor: pointer;
    border: 1px dashed var(--c-primary);
    color: var(--c-primary);
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    background-color: var(--c-gray-lighter);
    &-message {
      margin: auto;
      text-align: center;
    }
    &-over {
      border-style: solid;
    }
    input {
      display: none;
    }
    img {
      max-width: 300px;
      margin: 0 auto;
    }
    &-thumb {
      &-default {
        font-size: 100px;
        color: var(--c-gray);
        margin: 0 auto;
      }
    }
  }
}
