.manager-layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;
  display: flex;
  &--side-menu {
    position: fixed;
    width: 300px;
    border-right: 1px solid var(--c-gray-light);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 14px;
      color: var(--c-gray);
      padding: 20px;
    }
    .items {
      .item {
        display: flex;
        text-decoration: none;
        font-weight: 300;
        color: var(--c-black);
        padding: 10px 20px;

        .icon {
          font-size: 12px;
          margin: auto 0;
        }

        .name {
          font-size: 14px;
          margin-left: 10px;
        }
      }
      .item:hover {
        background-color: var(--c-gray-lighter);
      }
      .selected {
        .icon {
          color: var(--c-primary);
        }
      }
    }
  }
  &--content {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    padding-left: 300px;
    &-wrapper {
      padding: 20px;
      display: flex;
      flex-direction: column;
      max-width: 900px;
      margin: 50px auto;
    }
  }
}
